standby_mode = 'on'
primary_conninfo = 'host=XXX_POSTGRES_MASTER_XXX user=repl password=replpass'
restore_command = 'cp /var/lib/postgresql/9.1/archive/%f %p'
recovery_target_timeline='latest'
trigger_file = '/tmp/pgsql.trigger'

