# TYPE  DATABASE        USER            ADDRESS                 METHOD
host    all             all          {{ ansible_eth1.ipv4.address }}/24  md5
host    all             all          127.0.0.1/24  md5
